
* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{ 
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 100px;
    margin-left: 200px;
    padding: 100px;
}

/* Tela Principal */

#main-screen{ 
    background: linear-gradient( to left, rgb(216, 25, 25), rgb(206, 57, 57) );
    border: 3px solid rgb(177, 2, 2);
    border-radius: 10px;
    padding: 4px;
    height: 500px;
    width: 400px;
}

.color-buttons{ 
    margin-right: 10px;
    border-radius: 50px;
    border: 2px solid;
    cursor: pointer;
}

.upper{ 
    background: linear-gradient( to left, rgb(216, 25, 25), rgb(241, 26, 26) );
    border: 3px solid rgb(177, 2, 2);
    border-radius: 10px;
    display: flex;
    height: 100px;
    padding: 10px;
}

#big-button{ 
    background: linear-gradient(to right, rgb(71, 150, 202), rgb(79, 79, 255));
    border: 2px solid #DEDEDE;
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

#red{ 
    background: red;
    width: 25px;
    height: 25px;
    
}

#yellow{ 
    background: yellow;
    width: 25px;
    height: 25px;
}

#green{ 
    background: green;
    width: 25px;
    height: 25px;
}

#screen{ 
    border: 25px solid #DEDEDE;
    background: linear-gradient(-15deg, rgb(0, 0, 0), rgb(101, 101, 107));
    width: 360px;
    height: 200px;
    margin-top: 40px;
    margin-left: 15px;
    border-radius:10px;
}

#border-screen{
    display: flex;
    position: absolute;
    top: 251px;
    margin-left: 175px;
}

.mini-buttons{ 
    background-color: rgb(255, 0, 0);
    border: 2px solid rgb(116, 103, 103);
    border-radius: 10px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////// */
/* Setas de Interação */

#dpad-container{ 
    background-color: #D61E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45px;
    height: 152px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 280px;
}

.arrow{ 
    background: linear-gradient(135deg, #444, #222);
    border: 2px solid #111;
    color: #fff;
    font-size: 16px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 4px 0 #000, inset 0 3px 6px rgba(255, 255, 255, 0.1); 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Segunda Tela */

#command-screen{ 
    border: 3px solid rgb(180, 21, 21);
    background: linear-gradient( to right, rgb(255, 0, 0), rgb(202, 0, 0) );
    border-radius: 10px;
    margin-top: 100px;
    width: 360px;
    height: 400px;
}

.dpad-horizontal {
  display: flex;
}

.arrow:active {
  box-shadow: 
    0 0px 0 #000, inset 0 4px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
}

.arrow-left { border-radius: 5px 0 0 5px; margin-right: 35px;}
.arrow-right { border-radius: 0 5px 5px 0; }
.arrow-up { border-radius: 5px 5px 0 0; }
.arrow-down { border-radius: 0 0 5px 5px; }

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/* OUTROS */

#collum{ 
    background: linear-gradient( to left, rgb(180, 21, 21), rgb(206, 57, 57) );
    border: 2px solid rgb(116, 5, 5);
    height: 400px;
    margin-top: 100px;
    border-radius: 15px;
}

.inline-top{ 
    background: rgb(124, 14, 14);
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 300px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.inline-bottom{ 
    background: rgb(124, 14, 14);
    border: 2px solid black;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

/*///////////////////////////////// TESTES */

