
* { 
      font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{ 
    width: 80vw;
    height: 110vh;
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 100px;
    margin-left: 200px;
    padding: 100px;
}

/*

/* Tela Principal */

#main-screen{ 
    background: linear-gradient( to left, rgb(216, 25, 25), rgb(206, 57, 57) );
    border: 3px solid rgb(177, 2, 2);
    box-shadow: 0 3px 0 #575555, inset 0 3px 6px rgba(255, 255, 255, 0.1); 
    border-radius: 10px;
    padding: 4px;
    height: 500px;
    width: 400px;
}



.color-buttons{ 
    box-shadow: 0 3px 0 #575555, inset 0 3px 6px rgba(255, 255, 255, 0.1); 
    margin-right: 10px;
    border-radius: 50px;
    border: 2px solid;
    cursor: pointer;
    transition: all 0.1s ease;
}

.upper{ 
    background: linear-gradient( to left, rgb(216, 25, 25), rgb(241, 26, 26) );
    border: 3px solid rgb(177, 2, 2);
    border-radius: 10px;
    display: flex;
    height: 100px;
    padding: 10px;
}

#big-button{ 
    background: linear-gradient(to right, rgb(71, 150, 202), rgb(79, 79, 255));
    border: 2px solid #DEDEDE;
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.color-buttons:active {
  box-shadow: 
    0 0px 0 #000, inset 0 4px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
}

#red{ 
    background: red;
    width: 25px;
    height: 25px;
    
}

#yellow{ 
    background: yellow;
    width: 25px;
    height: 25px;
}

#green{ 
    background: green;
    width: 25px;
    height: 25px;
}

#screen{ 
    border: 25px solid #DEDEDE;
    outline: 3px solid #000000;
    background: linear-gradient(-15deg, rgb(0, 0, 0), rgb(101, 101, 107));
    width: 360px;
    height: 200px;
    margin-top: 40px;
    margin-left: 15px;
    border-radius:10px;
}

#border-screen{
    display: flex;
    position: absolute;
    top: 251px;
    margin-left: 175px;
}

.mini-buttons{ 
    background-color: rgb(255, 0, 0);
    border: 2px solid rgb(116, 103, 103);
    box-shadow: 0 3px 0 #575555, inset 0 3px 3px rgba(255, 255, 255, 0.1); 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    cursor: pointer;

}

.mini-buttons:active{ 
    transform: translateY(4px);
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/
/* EXTRAS (SEM FUNÇÃO) */
/* são pura estetica */

#extras{ 
    display: flex;
}

.circle{ 
    background: linear-gradient(black, gray);
    border: 2px solid rgb(63, 57, 57);
    width: 35px;
    height: 35px;
    position: absolute;
    margin-top: 40px;
    left: 320px;
    border-radius: 50px;
}

.green-lantern{ 
    background: linear-gradient(green, rgb(0, 228, 0));
    border: 2px solid black;
    width: 150px;
    height: 70px;
    position: absolute;
    margin-top: 60px;
    left: 380px;
    border-radius: 10px;
}

.lines{ 

    border: 2px solid black;
    width: 20px;
    height: 6px;
    margin-top: 40px;
}

.line-red{ 
    background: red;
    margin-right: 10px;
    position: absolute;
    left: 515px;
    border-radius: 10px;
}

.line-blue{ 
    background: rgb(76, 0, 255);
    margin-right: 10px;
    position: absolute;
    left: 375px;
    border-radius: 10px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////// */
/* Setas de Interação */

#dpad-container{ 
    background-color: #D61E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45px;
    height: 152px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    left: 600px;
}

.arrow{ 
    background: linear-gradient(135deg, #444, #222);
    border: 2px solid #111;
    color: #fff;
    box-shadow: 0 4px 0 #000, inset 0 3px 6px rgba(255, 255, 255, 0.1); 
    font-size: 16px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
}

.dpad-horizontal {
  display: flex;
}

.arrow:active {
  box-shadow: 
    0 0px 0 #000, inset 0 4px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
}

.arrow-left { border-radius: 5px 0 0 5px; margin-right: 35px;}
.arrow-right { border-radius: 0 5px 5px 0; }
.arrow-up { border-radius: 5px 5px 0 0; }
.arrow-down { border-radius: 0 0 5px 5px; }

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Segunda Tela */

#command-screen{ 
    border: 3px solid rgb(180, 21, 21);
    background: linear-gradient( to right, rgb(255, 0, 0), rgb(202, 0, 0) );
    box-shadow: 0 3px 0 #575555, inset 0 3px 6px rgba(255, 255, 255, 0.1); 
    display: flex;
    border-radius: 10px;
    margin-top: 100px;
    width: 360px;
    height: 400px;
}

.small-screen{ 
    background: linear-gradient(rgb(0, 0, 0), rgb(57, 57, 59));
    border: 2px solid white;
    width: 110px;
    height: 110px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 10px;
}

.dice{ 
    background: linear-gradient(cyan, blue);
    border: 2px solid white;
    width: 180px;
    height: 220px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 10px;
}

.info{ 
    background: rgb(255, 255, 255);
    border: 2px solid black;
    position: absolute;
    width: 300px;
    height: 40px;
    margin-top: 340px;
    margin-left: 25px;
    border-radius: 10px;
}

.text{ 
    padding: 10px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/* OUTROS */

#collum{ 
    background: linear-gradient( to left, rgb(180, 21, 21), rgb(206, 57, 57) );
    border: 2px solid rgb(116, 5, 5);
    height: 400px;
    margin-top: 100px;
    border-radius: 15px;
}

.inline-top{ 
    background: rgb(124, 14, 14);
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 300px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.inline-bottom{ 
    background: rgb(124, 14, 14);
    border: 2px solid black;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

/*///////////////////////////////// TESTES //////////////////////////////////////////////////////////////*/


/*

img{ 
    width: 194px;
    height: 150px;
    margin-left: 60px;
}

*/

/*

img{ 

    width: 110px;
    height: 110px;
    border-radius: 10px;
}

*/